﻿/*
Theme Name:  Unika
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Unika.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Unika
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Nunito', sans-serif;
	color: #3E414F ;
	background-color:#f3f3f3;
	background-image: url(img/unikapatternbody.png);
	background-attachment: fixed;
    overflow-x: hidden;
    
    
}
.skewll{
	position: absolute;
	top: -97px;
	display: block;
	width: 100%;
}



/* ESTILOS GERAIS  */
	.pg{
		margin-top: 50px!important;
	}
	 .voltarLista{
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 99999999999;
		display: none;
	}
		.voltarLista a{
			color: #fff;
			padding: 14px 20px;
			display: block;
			font-size: 16px;
			text-align: center;
			text-transform: uppercase;
			border: 1px #fff solid;
			text-decoration: none;

		}
			.voltarLista a:hover{
				background: #3e4155!important;
				color: #fff!important;
			}
	.idioma{
		position: absolute;
		top: 10px;
		cursor: pointer;
		right: 30px;
		z-index: 999;
		text-align: right;
		border-radius: 5px;
	    background:#ffffff;
	}
	.idioma p {
	    font-size: 15px;
	    display: inline-block;
	    margin:5px;
	}
		.idioma p img{
			max-width: 33px;
			border-radius: 5px;
		}
		.idiomasSelect{
			display: none;
			z-index: 9999;
			background: #fff;
			border-radius: 5px;
		}
			.idiomasSelect span{
				text-decoration: none;
			}
				.idiomasSelect span img{
					max-width: 28px;
					display: inline-block;
					width: 100%;
					
				}
		.selects{
			text-align: left;
			font-weight: 800;
			margin: 8px 0 15px;
		}
			.selects span{
				color: #3e414f;
			}
				.selects span img{
					margin-right: 7px;
				}
		

	.pg .sessaoNewsletter{
		background: #736788; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, #736788, #423951); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #736788, #423951); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #736788, #423951); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #736788, #423951); /* Standard syntax */
		position: relative;
		z-index: ;
	    
	}
		.pg .sessaoNewsletter .gradeFundo{
			padding: 63px 0px 160px;
			background: url(img/unikapattern.png);
			background-attachment: fixed;
		}
	.pg .sessaoNewsletter h6{
		color: #FFFFFF;
		font-size: 50px;
		font-weight: 800;
		line-height: 66px;
	}
	.pg .sessaoNewsletter p{
		color: #FFFFFF;	
		font-size: 18px;	
		line-height: 25px;
		max-width: 388px;
	}
	.pg .sessaoNewsletter .form{
		width: 100%;
		max-width: 540px;
	}
	.pg .sessaoNewsletter input[type="text"]{
		width: 100%;
		display: block;
		height: 50px;	
		max-width: 400px;	
		border-radius: 4px 0px 0px 4px;
		background-color: #FFFFFF;
		border:none;
		padding:20px;
		outline: none;
	}
	.pg .sessaoNewsletter input[type="submit"]{
		width: 100%;
		display: block;
		height: 50px;
		border-radius: 0 4px 4px 0;
		background-color: #C1947E;
		border: none;
		font-size: 18px;	
		line-height: 25px;	
		text-align: center;
		color: #fff;
		outline: none;
		border: solid 1px transparent;
		transition:All .5s ease;
		-webkit-transition:All .5s ease;
		-moz-transition:All .5s ease;
		-o-transition:All .5s ease;
	}
		.pg .sessaoNewsletter input[type="submit"]:hover{
			background: transparent;
			border-color: #fff;
			transition:All .5s ease;
			-webkit-transition:All .5s ease;
			-moz-transition:All .5s ease;
			-o-transition:All .5s ease;
		}

/* TOPO */
	.topo{
		margin-top: 40px;
		padding: 0 20px;
		z-index: 999999;
		max-width: 1598px;
		margin: 40px auto 0;
	}
		.topo .logo{
			padding: 0 10px;
		}
			.topo .logo img{
				max-width: 116px;
			}
		.topo .navbar{
			margin: 0
		}
			.topo .navbar button{
				border: solid 1px;
				display: none;
				margin: 20px;
			}
				.topo .navbar button span{
				    background: #474b5b;
				}
		.topo .navbar .navbar-header{
			float: initial;
			width: 100%;
			display: block;
		}
			.topo .navbar .navbar-header nav{
	
			}
				.topo .navbar .navbar-header nav ul{
					float: inherit;
					display: block;
					width: 100%;
					text-align: center;
				    padding-top: 15px;
				}
					.topo .navbar .navbar-header nav ul li{
						margin: 0 7px;
						float: inherit;
						display: inline-block;
					}
						.topo .navbar .navbar-header nav ul li a{
							color: #3E414F;
							font-size: 14px;
							text-align: center;
							padding-top: 0;
							padding-bottom: 0;
							font-weight: 700;
						}
						.indiomas{
						    padding-top: 20px;
						}
						.indiomas a{
							color: #3E414F;
							font-size: 14px;
							text-align: center;
							padding-top: 0;
							padding-bottom: 0;
							font-weight: 700;
						}
							.topo .navbar .navbar-header nav ul li a:hover{
								background: transparent;
							}
							.topo .navbar .navbar-header nav ul li a:active{
								background: transparent;
							}
							.topo .navbar .navbar-header nav ul li a:focus{
								background: transparent;
							}

		.topo .redesSociais{
			text-align: center;
			padding-top: 13px;
		}
			.topo .redesSociais a{
				color: #3E414F;
				font-size: 21px;
				text-decoration: none;
				padding:15px;
				transition:All .1s ease;
				-webkit-transition:All .1s ease;
				-moz-transition:All .1s ease;
				-o-transition:All .1s ease;
			}
				.topo .redesSociais a:hover{
					background: #3E414F;
					color: #fff;
					transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
				}

/* FOOTER */
	.rodape{
		min-height: 490px;	
		background-color: #F3F3F3;
		padding-top: 88px;
		padding-bottom: 15px;
		position: relative;
		z-index: 999;
	}
		.rodape .idioma{
			visibility: hidden;
		}
			.rodape .idioma p{
				color: #B3816B;	
				font-size: 13px;
				display: inline-block;	

			}
				.rodape .idioma p:before{
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url(img/iconlanguage.png);
					margin-right:10px;
					vertical-align: bottom;
				}
		.rodape .mapaSite{
		
		}
		.rodape .mapaSite ul{
			padding: 0;
			list-style: none;
		}
			.rodape .mapaSite ul li{
				display: block;
				margin: 0;
				float: initial;
				padding: 0

			}
			.rodape .mapaSite span{
				color: #3E414F;	
				text-transform: uppercase;
				font-size: 14px;	
				font-weight: 600;
				margin-bottom: 15px;
				display: block;
			}
			.rodape .mapaSite a{
				color: #3E414F;	
				font-size: 13px;	
				font-weight: 600;
				display: block;
				margin-bottom: 15px;
				padding: 0;

			}
				.rodape .mapaSite a:hover{
					background: transparent;
				}
		.rodape .formularioContato{
			/* max-width: 267px;	 */
		}
			.rodape .formularioContato input{
				height: 39px;	
				display: block;
				width: 100%;
				border-radius: 4px;
				background-color: #FFFFFF;
				border: none;
				padding: 10px;
				opacity: 0.5;	
				color: #3E414F;	
				font-size: 12px;
				outline: none;
				margin-bottom: 0;
			}
				.rodape .formularioContato input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
					opacity: 0.5;	
					color: #3E414F;	
					font-size: 12px;

				}

				.rodape .formularioContato input:-moz-placeholder { /* Firefox 18- */
					opacity: 0.5;	
					color: #3E414F;	
					font-size: 12px;
				}

				.rodape .formularioContato input::-moz-placeholder {  /* Firefox 19+ */
					opacity: 0.5;	
					color: #3E414F;	
					font-size: 12px;
				}

				.rodape .formularioContato input:-ms-input-placeholder { /* IE10+ */ 
					opacity: 0.5;	
					color: #3E414F;	
					font-size: 12px;
				}
			.rodape .formularioContato textarea{
				width: 100%;
				max-width: 100%;
				display: block;
				border-radius: 4px;
				background-color: #FFFFFF;
				border: none;
				padding: 10px;
				opacity: 0.5;	
				color: #3E414F;	
				font-size: 12px;
				outline: none;
				max-height: 81px;	
				/* max-width: 267px; */
				margin-top: 14px;
			}
				.rodape .formularioContato textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
					opacity: 0.5;	
					color: #3E414F;	
					font-size: 12px;	

				}

				.rodape .formularioContato textarea:-moz-placeholder { /* Firefox 18- */
					opacity: 0.5;	
					color: #3E414F;	
					font-size: 12px;
				}

				.rodape .formularioContato textarea::-moz-placeholder {  /* Firefox 19+ */
					opacity: 0.5;	
					color: #3E414F;	
					font-size: 12px;
				}

				.rodape .formularioContato textarea:-ms-input-placeholder { /* IE10+ */ 
					opacity: 0.5;	
					color: #3E414F;	
					font-size: 12px;
				}
			.rodape .formularioContato .submit{
				height: 50px;
				width: 56px;
				position: relative;
				padding-right: 120px;
				margin-top: 10px;
				float: right;
			}
				.rodape .formularioContato .submit:before{
					content: '';
					display: block;
					background: url(img/CombinedShapeCopy5.png);
					width: 25px;
					height: 13px;
					right: 0;
					background-repeat: no-repeat!important;
					background-size: cover!important;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

				}
				.rodape .formularioContato .submit input[type="submit"]{
					background: transparent;
					color: #C1947E;
					font-size: 16px;	
					outline: none;
					width: 100%;
					text-align: left;
					display: block;
					position: absolute;
					height: 100%;
					top:0;
					left: 0;
					border: 0;
					font-weight: 300;
				}
		.rodape .copyright{
			border-top: 1px solid #979797;
			margin-top: 50px;
		}
			.rodape .copyright p{
				color: #898989;
				font-size: 12px;
				margin-top: 30px;	

			}
			.rodape .copyright a{
				margin-top: 30px;
				display: inline-block;
			}
		.rodape .copyright .text-center{
			margin-top: 30px;
		}

/* PÁGINA INICIAL */
	.pg-inicial{

	}	
		.pg-inicial .sessaoDestaque{
			margin-top: 70px;
		}
			.pg-inicial .sessaoDestaque .areaQuemSomos{
				margin-top: 150px;
				padding: 0 20px;
			}
				.pg-inicial .sessaoDestaque .areaQuemSomos strong{
					font-size:43px;
					color: #3E414F;
					display: block;
					margin-bottom: 12px;
					font-weight: 900;
				}	
				.pg-inicial .sessaoDestaque .areaQuemSomos p{
					color:#C1947E;
					font-size: 15px;
					line-height: 22px;
					font-weight: 700;
					max-width: 488px;
				}
				.pg-inicial .sessaoDestaque .areaQuemSomos a{
					font-size:16px;
				    line-height: 30px;
					border: 1px solid #3E414F;	
					border-radius: 100px;
					width: 100%;
					max-width: 180px;
					height: 36px;
					display: inline-block;
					text-align: center;
					color: #3E414F;
					text-decoration: none;
					font-weight: 500;
					margin-top: 30px;
					transition:All .5s ease;
					-webkit-transition:All .5s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
				}
					.pg-inicial .sessaoDestaque .areaQuemSomos a:hover{
						background: #3E414F;
						color: #fff;
						transition:All .5s ease;
						-webkit-transition:All .5s ease;
						-moz-transition:All .5s ease;
						-o-transition:All .5s ease;
					}
			.pg-inicial .sessaoDestaque .areaCarrossel{
				position: relative;
			

			}
				.pg-inicial .sessaoDestaque .areaCarrossel:before{
					content: '';
				    display: block;
				    width: 100%;
				    height: 100px;
				    background: linear-gradient(to bottom right, rgb(243, 243, 243) , rgb(243, 243, 243));
				    position: absolute;
				    height: 100%;
				    z-index: 9;
				    left: -1px;
				    max-width: 23%;
				    -webkit-box-shadow: 11px 9px 40px 3px rgb(243, 243, 243);
				    -moz-box-shadow: 11px 9px 40px 3px rgba(0,0,0,0.67);
				    box-shadow: 11px 9px 40px 3px rgb(243, 243, 243);
				}
				.pg-inicial .sessaoDestaque .areaCarrossel:after{
					content: '';
				    display: block;
				    width: 100%;
				    height: 100px;
				    background-image: url(img/unikapatternbody.png);
				    background-attachment: fixed;
				    position: absolute;
				    height: 100%;
				    z-index: 9;
				    left: -1px;
				    top: 0;
				    max-width: 23%;
				    
				}
			.pg-inicial .sessaoDestaque .carrossel{
				height: 470px;
				overflow: hidden;
			}

				.pg-inicial .sessaoDestaque .item{
					height: 442px;
					width: 100%;
					max-width: 332px;
					border-radius: 20px;
					position: relative;
					box-shadow:-3px 3px 10px -2px rgba(0, 0, 0, 0.41);
					margin-bottom: 40px;
					display: block;
					margin: 20px auto 40px;
				}
					.pg-inicial .sessaoDestaque .item:after{
						content: '';
						display: none;
						width: 34px;
						height: 18px;
						position: absolute;
						right: 22px;
						bottom: 22px;
						background: url(img/setaBranca.png);
						background-repeat: no-repeat!important;
						background-size: cover!important;
					}
					.pg-inicial .sessaoDestaque .item {
						text-decoration: none;
						display: block;
						padding: 20px 30px;

					}
						.pg-inicial .sessaoDestaque .item  figure{
							height: 105px;
							width: 105px;
							background-color: rgba(0,0,0,0.1);
							border-radius: 100%;
							position: relative;
							margin-top: 20px;
						}
							.pg-inicial .sessaoDestaque .item  figure img{
								max-width: 61px;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								transition:All .1s ease;
								-webkit-transition:All .1s ease;
								-moz-transition:All .1s ease;
								-o-transition:All .1s ease;
							}
								.pg-inicial .sessaoDestaque .item:hover img{
									max-width: 65px;
									transition:All .1s ease;
									-webkit-transition:All .1s ease;
									-moz-transition:All .1s ease;
									-o-transition:All .1s ease;
								}
							.pg-inicial .sessaoDestaque .item  h2{
								color: #fff;
								font-size: 20px;
								line-height: 27px;
								margin: 25px 0;
								font-weight: 800;
							    min-height: 55px;
							}
							.pg-inicial .sessaoDestaque .item  p{
								color:#fff;
								font-size: 16px;
								line-height: 22px;
								font-weight: 300;
							}
							.pg-inicial .sessaoDestaque .item  span{
								color: #fff;
								font-weight: 400;
								font-size: 15px;
								position: relative;
								top: 15px;
							}
					.pg-inicial .btnsCarrossel{
						text-align: right;
						margin-top: 80px;
						position: relative;
						z-index: 99;
					}
						.pg-inicial .btnsCarrossel button{
							color: #3E414F;	
							font-size: 30px;
							background: transparent;
							border: none;
							outline: none;
							margin: 0 20px;
						}
						.pg-inicial .btnsCarrossel span{
							color: #3E414F;
							font-size: 15px;
							display: none;
							margin: 0 25px;
						}
						.areaTextoSkell{

						}


			.pg-inicial .sessaoInfo{
			    margin-top:55px;
			    position: relative;
			}
				
				.pg-inicial .sessaoInfo .imagemIlustrativa{
					height: 490px;
					width: 100%;
				    max-width: 640px;
					box-shadow: 0 2px 30px 0 rgba(0,0,0,0.2);
					display: block;
					background-position: center!important;
					background-size: cover!important;
				}
				.pg-inicial .sessaoInfo article{
					background: #fff;
					min-height: 410px;
					border-radius: 0 0 0 0;
					padding: 10px;
					padding-top: 0;
					padding-left: 60px;
					position: relative;
					z-index: 99;
					margin-top: 80px;

				}
					.pg-inicial .sessaoInfo article h5{
						color: #C1947E;
						font-size: 30px;
					    margin-bottom: 50px;
					    font-weight: 800;
					    padding-top: 40px;
					    
					}
					.pg-inicial .sessaoInfo article p{
						font-size: 18px;	
						line-height: 25px;	
					    max-width: 565px;
				        margin-bottom: 55px;
			    
					}
					.pg-inicial .sessaoInfo article a{
						color: #C1947E;
						font-size: 18px;	
						line-height: 25px;
						position: relative;
					}
						.pg-inicial .sessaoInfo article a:after{
							content: '';
							display: block;
							width: 34px;
							height: 18px;
							position: absolute;
							right: -70px;
							bottom: 0;
							background: url(img/CombinedShapeCopy5.png);
							background-repeat: no-repeat!important;
							background-size: cover!important;
						}
		.pg .listasessaoServicos{
			padding-top: 100px;
			padding-bottom: 100px;
		}
			.pg .listasessaoServicos h6{
				font-size: 30px;	
				font-weight: 800;	
				line-height: 41px;	
				text-align: center;
				margin:0 ;
			    margin-bottom: 30px;
			}
			.pg .listasessaoServicos>p{
				font-size: 18px;	
				line-height: 25px;	
				text-align: center;
				max-width: 720px;
				margin: auto;
			}
			.pg .listasessaoServicos ul{
				padding: 0;
				list-style: none;
				text-align: center;
				font-size: 0;
			    margin-top: 100px;
			}
			.pg .listasessaoServicos li{
				display: inline-block;
				vertical-align: top;
				margin: 10px;
				width: 100%;
				max-width: 300px;	
			}
				.pg .listasessaoServicos .servico{
					height: 191px;	
					max-width: 300px;	
					border-radius: 4px;	
					background-color: #F3F3F3;
					padding:  20px;
				}
				.pg .listasessaoServicos .maisPorblemas{
					height: 191px;	
					width: 100%;
					max-width: 300px;	
					border-radius: 4px;	
					border: solid 1px #3E414F;
					transition:All .5s ease;
					-webkit-transition:All.51s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
				}
					.pg .listasessaoServicos .maisPorblemas:hover{
						background: #F3F3F3;
						border-color: transparent;
						transition:All .5s ease;
						-webkit-transition:All .5s ease;
						-moz-transition:All .5s ease;
						-o-transition:All .5s ease;
					}
					.pg .listasessaoServicos .maisPorblemas p{
						color: #3E414F;	
						font-size: 18px;	
						line-height: 25px;
						text-align: center;
					    padding-top: 80px;
					}	
					
					.pg .listasessaoServicos .servico img{
						display: block;
						transition:All .1s ease;
						-webkit-transition:All .1s ease;
						-moz-transition:All .1s ease;
						-o-transition:All .1s ease;

					}
						.pg .listasessaoServicos li:hover img{
							w-webkit-animation: pulse 1s ease;
							animation: pulse 1s ease;
							-webkit-animation-iteration-count: 1;
							animation-iteration-count: 1;
						}
					.pg .listasessaoServicos .servico p{
						color: #3E414F;
						font-size: 18px;
						line-height: 27px;
						text-align: left;
						margin-top: 20px;
					}
		.pg .sessaoOndeAtuamos{
			background-color: #F3F3F3;
   			padding-top: 100px;
		}
			.pg .sessaoOndeAtuamos .titulo{

			}
				.pg .sessaoOndeAtuamos .titulo h6{
					color: #3E414F;	
					font-size: 48px;	
					font-weight: 800;
				}
				.pg .sessaoOndeAtuamos .titulo p{
					max-width: 388px;	
					color: #3E414F;	
					font-size: 18px;	
					line-height: 25px;
					margin-top: 25px;
					margin-bottom: 50px;
				}
				.pg .sessaoOndeAtuamos .titulo a{
					color: #C1947E;
					font-size: 18px;
					line-height: 25px;
					position: relative;
				}
					.pg .sessaoOndeAtuamos .titulo a:before{
						content: '';
						display: block;
						width: 34px;
						height: 18px;
						position: absolute;
						right: -70px;
						bottom: 0;
						background: url(img/CombinedShapeCopy5.png);
						background-repeat: no-repeat!important;
						background-size: cover!important;	
					}
			.pg .sessaoOndeAtuamos .listaPaises{
				padding-top: 80px;
			}
				.pg .sessaoOndeAtuamos .listaPaises ul{
					padding: 0;
					list-style: none;
				}
					.pg .sessaoOndeAtuamos .listaPaises ul li{
						width: 128px;
						color: #C1947E;
						font-size: 18px;
						line-height: 48px;
						display: inline-block;
						position: relative;
						padding-left: 20px;
						margin-right: 40px;
						margin-bottom: 17px;
					}
						.pg .sessaoOndeAtuamos .listaPaises ul li span:before{
							content: '';
							display: block;
							width: 7px;
							height: 7px;
							background: #3E414F;
							border-radius: 100%;
							position: absolute;
							left: 0px;
							top: 20px;
						}
			.pg .sessaoOndeAtuamos .paises{
				padding-top: 100px;	
			}
				.pg .sessaoOndeAtuamos .paises ul{
					padding: 0;
					list-style: none;
					text-align: left;
					max-width: 1022px;
					margin: 0 auto;
				}
					.pg .sessaoOndeAtuamos .paises ul li{
						display: inline-block;
						text-align: center;
						width: 100%;
						max-width: 213px;
						margin-bottom: 100px;
						margin-right: 20px;
					}
						.pg .sessaoOndeAtuamos .paises ul li img{
							max-width: 32px;
						}	
							.pg .sessaoOndeAtuamos .paises ul li:hover img{
								w-webkit-animation: swing 1s ease;
								animation: swing 1s ease;
								-webkit-animation-iteration-count: 1;
								animation-iteration-count: 1;
							}
						.pg .sessaoOndeAtuamos .paises ul li h2{
							color: #3E414F;	
							font-size: 36px;	
							font-weight: 900;	
							text-align: center;
						}
						.pg .sessaoOndeAtuamos .paises ul li p{
							color: #C1947E;	
							font-size: 15px;	
							text-align: center;
							text-transform: uppercase;
							font-weight: 700;
							display: none;
						}
		.pg-inicial .sessaoDepoimentos{
			padding-bottom: 100px;
			position: relative;
		}
			.sessaoDepoimentos h6{
				font-size: 30px;
				font-weight: 800;
				line-height: 41px;
				text-align: center;
				margin: 0;
				margin-top: 75px;
			}
			.pg-inicial .sessaoDepoimentos .item{

			}
				.pg-inicial .sessaoDepoimentos .item>img{
					display: block;
					margin: 70px auto;
					max-width: 56px;
				}
				.pg-inicial .sessaoDepoimentos .item .depoimentos{
					width: 100%;
					max-width: 940px;
					min-height: 320px;
					padding: 30px;
					border: 1px solid #979797;	
					border-radius: 4px;
					margin: 0 auto;
					position: relative;
				    padding-bottom: 30px;
				}
					.pg-inicial .sessaoDepoimentos .item .depoimentos p{
						color: #3E414F;
						font-size: 18px;
						line-height: 25px;
					    max-width: 90%;
					    margin: 0 auto;
					}
					.pg-inicial .sessaoDepoimentos .item .depoimentos figure{
						height: 68px;	
						width: 68px;
						background-size:cover!important;
						background-position: center!important;
						border-radius: 100%;
						border: solid 1px #ccc;
						position: absolute;
						bottom: -30px;
						left: 50%;
						transform: translateX(-50%);
						display: none;
					}
				.pg-inicial .sessaoDepoimentos .item .infos{
					margin-top: 70px;
				}
					.pg-inicial .sessaoDepoimentos .item .infos h2{
						color: #C1947E;
						font-size: 22px;
						font-weight: 700;
						text-align: center;
						margin-bottom: 25px;
						max-width: 628px;
						margin: 30px auto;
					}
					.pg-inicial .sessaoDepoimentos .item .infos p{
						color: #3E414F;
						font-size: 18px;
						text-align: center;
						margin: 0;
						max-width: 639px;
						margin: 0 auto 10px;
					}
			.pg-inicial .sessaoDepoimentos .btnCarrossel{
				position: absolute;
				max-width: 710px;
				margin: 0 auto;
				display: block;
				width: 100%;
				left: 50%;
				transform: translateX(-50%);
			    bottom: 155px;
				z-index: 9;
				
			}
				.pg-inicial .sessaoDepoimentos .btnCarrossel button{
					border: none;
					background: transparent;
					outline: none;
				}
				.pg-inicial .sessaoDepoimentos .btnCarrossel span{
					display: block;
				}
				.pg-inicial .sessaoDepoimentos .btnCarrossel #btnCarrosselDepoimentosLeft span:before{
					content: '';
					display: block;
					background:url(img/CombinedShapeCopy5.png);
					background-repeat: no-repeat!important;
					width: 23px;
					height: 12px;
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					-ms-transform: rotate(180deg);

				}
				.pg-inicial .sessaoDepoimentos .btnCarrossel #btnCarrosselDepoimentosRight span:before{
					content: '';
					display: block;
					background:url(img/CombinedShapeCopy5.png);
					background-repeat: no-repeat!important;
					width: 23px;
					height: 12px;
					position: absolute;
					right: 0;
					top: 4px;
				}
		.pg .sessaoParceiros{
			background-color: #F3F3F3;
		    padding: 78px 0;
		}
			.pg .sessaoParceiros .item{
				
			}
				.pg .sessaoParceiros .item img{
					display: block;
					width: 100%;
					max-width: 78px;
					margin: 0 auto;
				}
		
		.pg-inicial .sessaoBlog{
			height: 860px;
			padding-top: 70px;
		}
		.pg-inicial .areaTitulo{
			
		}
			.pg-inicial .sessaoBlog h6{
				color: #3E414F;	
				font-size: 48px;	
				font-weight: 800;	
				text-align: left;
				margin: 50px 0;
				
			}
			
			.pg-inicial .sessaoBlog .posts{
				

			}
			.pg-inicial .sessaoBlog .post{
				text-decoration: none;
				display: block;
				padding: 0 10px;
			}
				.pg-inicial .sessaoBlog .post figure{
					display: block;
					width: 100%;
					height: 187px;	
					max-width: 391px;	
					border-radius: 4px;
					background-position: center!important;
					background-size: cover!important;
					margin: 0 auto 44px;
					webkit-transition: all .6s ease-in-out;
					-moz-transition: all .6s ease-in-out;
					-o-transition: all .6s ease-in-out;
					transition: all .6s ease-in-out;
						
				}
					.pg-inicial .sessaoBlog .post:hover figure{
						webkit-transition: all .6s ease-in-out;
						-moz-transition: all .6s ease-in-out;
						-o-transition: all .6s ease-in-out;
						transition: all .6s ease-in-out;
						background-position: 100% 70%!important;
					}
				.pg-inicial .sessaoBlog .post h2{
					color: #3E414F;
					font-size: 17px;
					font-weight: 800;
					text-align: center;
					max-width: 317.89px;
					line-height: 23px;
					margin: 0 auto 20px;
				    min-height: 69px;
				}
				.pg-inicial .sessaoBlog .post span{
					color: #C1947E;	
					font-size: 14px;	
					line-height: 19px;	
					text-align: center;
					display:block;
					margin-bottom: 20px;
				}
				.pg-inicial .sessaoBlog .post p{
					color: #3E414F;	
					font-size: 14px;	
					line-height: 19px;	
					text-align: center;
					max-width: 312.59px;
					margin: 0 auto;
					font-weight: 600;
				}

/* PÁGINA SERVIÇOS */
	.pg-servicos{
		margin:0!important;

	}
		.pg-servicos .topoPag{
			
		}
		.pg-servicos .sessaoServicos a{
			display: block;
			text-decoration: none;	
			padding: 75px 10px;
		}
			.pg-servicos .sessaoServicos .servico{
				
			}
				.pg-servicos .sessaoServicos .servico figure{
					height: 105px;	
					max-width: 105px;	
					background-color: rgba(0,0,0,0.1);
					border-radius: 100%;
					position: relative;
					margin: 0 auto;
				}
					.pg-servicos .sessaoServicos .servico:hover figure{
						w-webkit-animation: swing 1s ease;
						animation: swing 1s ease;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}
				.pg-servicos .sessaoServicos .servico img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 60px;
				}
				.pg-servicos .sessaoServicos .servico h2{
					max-width: 600px;
					color: #FFFFFF;
					font-size: 45px;
					font-weight: 800;
					line-height: 50px;
				    margin-bottom: 25px;
				}
				.pg-servicos .sessaoServicos .servico p{
					max-width: 668px;	
					color: #FFFFFF;	
					font-size: 16px;	
					line-height: 22px;
					font-weight: 600;
				}

/* PÁGINA SERVIÇO */
	.pg-servico{
		margin: 0!important;
	}
		.pg-servico .topoPag{
			
		}
		.pg-servico .sessaoServico{
			
		}
			.pg-servico  .servico{
			    padding: 150px 0 90px;
			}

				.pg-servico  .servico figure{
					height: 105px;	
					max-width: 105px;	
					background-color: rgba(0,0,0,0.1);
					border-radius: 100%;
					position: relative;
					margin: 0 auto;
				}
				.pg-servico  .servico img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 60px;
				}
				.pg-servico  .servico h2{
					max-width: 600px;
					color: #FFFFFF;
					font-size: 45px;
					font-weight: 800;
					line-height: 50px;
				    margin-bottom: 25px;
				}
				.pg-servico  .servico p{
					max-width: 668px;	
					color: #FFFFFF;	
					font-size: 16px;	
					line-height: 22px;
					font-weight: 600;
				}
		.pg-servico .descricaoLayoutA{

		}
			.pg-servico .descricaoLayoutA .comofazemos{
				margin-top: 70px;
			}
				.pg-servico .descricaoLayoutA .comofazemos.comofazemosLeft strong{
					height: 41px;
					max-width: 426px;
					color: #3E414F;
					font-size: 34px;
					font-weight: 800;
					line-height: 41px;
					margin-bottom: 50px;
					display: block;
				}
				.pg-servico .descricaoLayoutA .comofazemosB strong{
					height: 41px;	
					max-width: 426px;	
					color: #3E414F;	
					font-size: 29px;	
					font-weight: 700;	
					line-height: 41px;
				    margin-bottom: 50px;
				    display: block;
				    font-weight: 800;
				}
				.pg-servico .descricaoLayoutA .comofazemos.comofazemosLeft p{
					max-width: 426px;	
					color: #C1947E;	
					font-size: 18px;	
					line-height: 25px;
					position: relative;
				    padding-left: 35px;
			        font-weight: 600;
		            margin-bottom: 50px;
				}
					.pg-servico .descricaoLayoutA .comofazemos.comofazemosLeft p:before{
						content:'';
						display: block;
						width: 8px;
						height: 8px;
						border-radius: 100%; 
						background: #C1947E;
						position: absolute;
						left: 0;
						top: 10px;

					}
				.pg-servico .descricaoLayoutA .comofazemos a{
					display: block;
					width: 100%;
					max-width: 500px;
					min-height: 138px;
					background: #f3f3f3;
					padding: 20px 20px 15px;
					text-decoration: none;
					margin: 15px;
					vertical-align: top;
				}
				.pg-servico .descricaoLayoutA .comofazemos .caixaLink{
					display: block;
					width: 100%;
					max-width: 500px;
					min-height: 138px;
					background: #f3f3f3;
					padding: 20px 20px 15px;
					text-decoration: none;
					margin: 15px;
					vertical-align: top;
				}
				.pg-servico .descricaoLayoutA .comofazemos .caixaLink a {
				    display: initial;
				    width: initial;
				    max-width: initial;
				    min-height: initial;
				    background: initial;
				    padding: initial;
				    text-decoration: initial;
				    margin: initial;
				    vertical-align: initial;
				}
				.pg-servico .descricaoLayoutA .comofazemos a.displayInline{
					display: inline-block;
					max-width: 395px;
					vertical-align: top;
				}
					.pg-servico .descricaoLayoutA .comofazemos a p{
						color: #3E414F;
						font-size: 18px;	
						line-height: 25px;
					    margin-bottom: 25px;
					}
					.pg-servico .descricaoLayoutA .comofazemos .caixaLink p{
						color: #3E414F;
						font-size: 18px;	
						line-height: 25px;
					    margin-bottom: 25px;
					}
					.pg-servico .descricaoLayoutA .comofazemos span{
						color: #C1947E;
						font-size: 18px;
						line-height: 25px;
						position: relative;
						max-width: 100px;
						padding-left: 51px;
					    margin: 0 30px;
					}
						
						.pg-servico .descricaoLayoutA .comofazemos span:before{
							content: '';
							display: block;
							width: 34px;
							height: 18px;
							position: absolute;
						    left: 0;
							bottom: 0;
							background: url(img/CombinedShapeCopy5.png);
							background-repeat: no-repeat!important;
							background-size: cover!important;
				
						}
			.pg-servico  .areasServicos{
				/* margin-bottom: 100px;
				margin-top: 60px; */

			}
			.containerLargura{
				max-width: 590px;
				margin: 0 auto 0;
			}
			.pg-servico .descricaoLayoutB .comofazemos strong{
				color: #3E414F;
				font-size: 30px;
				font-weight: 800;
				line-height: 41px;
				margin-bottom: 25px;
				display: block;
				padding-top: 40px;
			}
			.pg-servico  .tituloServico{
				color: #3E414F;
				font-size: 30px;
				font-weight: 800;
				line-height: 41px;
				margin-bottom: 50px;
				display: block;
			}
			.pg .comofazemos{
				padding: 0 10px;
			}
			.pg-servico .descricaoLayoutB .comofazemos p{
			    max-width: 576px;	
				color: #C1947E;	
				font-size: 18px;	
				line-height: 25px;
				position: relative;
		        font-weight: 400;
	            margin-bottom: 50px;
			}
			.pg-servico  .paragrafoPersonalizado{
				padding-left: 35px;
			}
			.pg-servico  .paragrafoPersonalizado:before{
				content: '';
				display: block;
				width: 8px;
				height: 8px;
				border-radius: 100%;
				background: #C1947E;
				position: absolute;
				left: 0;
				top: 10px;
			}
				
			.pg-servico .listasdeServicos{
			    
			}
				
					.pg-servico .listasdeServicos .conteudo .servicosPossiveis{
				    	padding-bottom: 50px;
					}
					.pg-servico .listasdeServicos .conteudo .servicosPossiveis span{
				    	color: #9B9B9B;	
				    	font-size: 15px;	
				    	font-weight: 800;	
				    	text-transform: uppercase;
				    	display: block;
			    	    margin-bottom: 45px;
					}
					.pg-servico .listasdeServicos .conteudo .servicosPossiveis a{
						color: #C1947E;
						font-size: 18px;
						line-height: 25px;
						position: relative;
						max-width: 100px;
						padding-left: 65px;
					}
						.pg-servico .listasdeServicos .conteudo .servicosPossiveis a:before{
							content: '';
							display: block;
							width: 34px;
							height: 18px;
							position: absolute;
							left: 0;
							bottom: 0;
							background: url(img/CombinedShapeCopy5.png);
							background-repeat: no-repeat!important;
							background-size: cover!important;
						}
					.pg-servico .listasdeServicos .conteudo .servicosPossiveis p{
				    	display:inline-block;
				    	color: #3E414F;	
				    	font-size: 15px;	
				    	position: relative;
				    	line-height: 25px;
			    	    padding-left: 25px;
		    	        max-width: 250px;
	    	            margin-right: 30px;
    	                margin-bottom: 35px;
    	                font-weight: 600;
    	                vertical-align: top;
    	                min-width: 250px;

				    }
					    .pg-servico .listasdeServicos .conteudo .servicosPossiveis p:before{
					    	content:'';
							display: block;
							width: 8px;
							height: 8px;
							border-radius: 100%; 
							background: #3E414F;
							position: absolute;
							left: 0;
							top: 10px;

						}

/* QUEM SOMOS */
	.pg-quemSomos{
		background: #fff;
		margin-top: 50px;
	}
		.pg-quemSomos .topoPag{

		}
		.pg-quemSomos .banner{
			height: 430px;
			width: 100%;
		    background-attachment: fixed!important;
			position: relative;
		}
			.banner img{
				width: 100%;
				display: block;
				/* max-height: 430px; */
				max-width: 80%;
				margin: 0 auto;
			}
			.pg-quemSomos .banner:before{
				position: absolute;
				content: '';
				display: block;
				width: 100%;
			    background: #00000080;
				height: 100%;
			}
			.pg-quemSomos .banner p{
				max-width: 530px;
				color: #FFFFFF;
				font-size: 30px;
				font-weight: 800;
				line-height: 41px;
				margin-top: 140px;
				position: relative;
				z-index: 99;
			}
			.pg-quemSomos .banner img{
				max-width: 600px;
				position: absolute;
				right: 90px;
				bottom: 0;	
				display: none;
			}
			.pg-quemSomos .tituloPg{

			}
				.pg-quemSomos .tituloPg h6{
					text-align: center;
					color: #3E414F;	
					font-size: 48px;	
					font-weight: 800;	
					line-height: 66px;
					margin-top: 70px;
					margin-bottom: 50px;
				}
				.pg-quemSomos .tituloPg p{
					max-width: 820px;
					color: #3E414F;
					font-size: 20px;
					line-height: 25px;
					text-align: center;
					margin: 0 auto;
					padding: 0 10px;
					font-weight: 800;
					border: solid 1px #ccc;
					padding: 10px;
					border-radius: 5px;
				}	
		.pg-quemSomos .sessaointegrantes{
		    padding-top: 100px;
		}
			.pg-quemSomos .sessaointegrantes .integrante{
			}
			.pg-quemSomos .sessaointegrantes .integrante .row{
				display: flex;
			}
			.pg-quemSomos .sessaointegrantes .integrante img{
				width: 100%;
				
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				z-index: 9;
			}
				.pg-quemSomos .sessaointegrantes .integrante:hover img{
					w-webkit-animation: pulse 1s ease;
					animation: pulse 1s ease;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
				}
			.pg-quemSomos .sessaointegrantes .integrante .perfil{
				position: relative;
				width: 100%;
				height: 345px;
			}	
			.pg-quemSomos .sessaointegrantes .integrante .perfil h2{
				margin: 42px auto;
				max-width: 410px;	
				color: #C1947E;	
				font-size: 30px;	
				font-weight: 900;	
				line-height: 41px;
			}
			.pg-quemSomos .sessaointegrantes .integrante .perfil p{
				max-width: 410px;	
				color: #3E414F;	
				font-size: 18px;	
				line-height: 28px;
				margin: 0 auto;
				font-weight: 600;
			}
			.pg-quemSomos .sessaointegrantes .integrante .perfil .redesSociais{
				max-width: 410px;
				margin: 50px auto 40px;
				min-height: 32px;
			}
				.pg-quemSomos .sessaointegrantes .integrante .perfil .redesSociais a{
					color: #3E414F;
					font-size: 22px;
					text-decoration: none;
					display: inline-block;
					margin-right: 27px;
				}
					.pg-quemSomos .sessaointegrantes .integrante .perfil .redesSociais a:hover{
						w-webkit-animation: bounce 1s ease;
						animation: bounce 1s ease;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}

/* PÁGINA DO BLOG */
	.pg-blog{
		background: #fff;
	}
		.pg-blog .topoPag{
		
		}
		.pg-blog .banner{
			display: block;
			text-decoration: none;
		}
			.pg-blog .banner .infoPost{
				background-color: #C1947E;
				padding-bottom: 87px;
			    padding-top: 100px;
			    height: 434px;
			}
			.pg-blog .banner .infoPost .area{
				max-width: 503px;
				display: block;
				margin: 0 auto;
			}
			.pg-blog .banner .infoPost span{
				color: #3E414F;	
				font-size: 18px;	
				line-height: 25px;	
				
			}
			.pg-blog .banner .infoPost h2{
				color: #FFFFFF;	
				font-size: 30px;	
				font-weight: 800;	
				line-height: 41px;
				margin:30px auto 85px;
			}
			.pg-blog .banner .infoPost small{
				position: relative;
				color: #fff;
				display: inline;
				padding-right: 65px;
				font-size: 17px;
			}
				.pg-blog .banner .infoPost small:after{
					content: '';
					display: block;
					width: 34px;
					height: 18px;
					position: absolute;
					right: 0;
					top: 0;
					background: url(img/setaBranca.png);
					background-repeat: no-repeat!important;
					background-size: cover!important;
				}
			.pg-blog .banner  figure{
				display: block;
				width: 100%;
				height: 434px;
				background-position: center!important;
				background-size: cover!important;
			}
		.pg-blog .sessaoPosts{
			margin-top: 50px;
		}
			.pg-blog .sessaoPosts h6{
				visibility: hidden;
			}
			.pg-blog .sessaoPosts .col-md-4{
				margin-bottom: 100px;
			}
			.pg-blog .sessaoPosts a{
				display: block;
				text-decoration: none;
				padding: 0 10px;
			}
			.pg-blog .sessaoPosts figure{
				height: 187px;	
				max-width: 369px;	
				border-radius: 4px;
				display: block;
				background-position: center!important;
				background-size: cover!important;
				margin: 0 auto;
			}
			.pg-blog .sessaoPosts h2{
			    color: #3E414F;
			    font-size: 17px;
			    font-weight: 800;
			    line-height: 27px;
			    text-align: center;
			    margin: 44px auto 0;
			    min-height: 81px;
			}
			.pg-blog .sessaoPosts span{
				color: #C1947E;	
				font-size: 14px;	
				line-height: 19px;	
				text-align: center;
				display: block;
				margin-top: 11px;
			}
			.pg-blog .sessaoPosts p{
				max-width: 295px;	
				color: #3E414F;	
				font-size: 14px;	
				line-height: 19px;	
				text-align: center;
				margin: 20px auto 0;
			}
	
/* PÁGINA DO POST */
	.pg-blogPost{
		background: #fff;
	}
		.pg-blogPost .banner figure{
			display: block;
			height: 466px;
			width: 100%;
			background-size: cover!important;
			background-position: center!important;
		}
		.pg-blogPost article{
			max-width: 926px;
			display: block;
			margin:0 auto ;
			padding: 0 20px;
		}
			.pg-blogPost article span{
				color: #C1947E;	
				font-size: 18px;	
				line-height: 25px;
				display: block;
				margin-top: 50px;
			}
			.pg-blogPost article h2{
				margin-bottom: 60px;
				color: #3E414F;
				font-size: 30px;
				font-weight: 800;
				line-height: 40px;
			}	
			.pg-blogPost article p{
				max-width: 922px;
				color: #3E414F;
				font-size: 18px;
				line-height: 26px;
				margin: 10px auto;
				font-weight:600;
			    text-align: left;
				
			}
				.pg-blogPost article ul{
				    padding-left: 50px;
				}
				.pg-blogPost article ol{
				    padding-left: 50px;
				}
					.pg-blogPost article ul li{
						max-width: 922px;
						color: #3E414F;
						font-size: 18px;
						line-height: 26px;
						margin: 10px auto;
						font-weight:600;
					}
					.pg-blogPost article ol li{
						max-width: 922px;
						color: #3E414F;
						font-size: 18px;
						line-height: 26px;
						margin: 10px auto;
						font-weight:600;
					}
			.pg-blogPost article strong{
		
			}
			/* .pg-blogPost article img{
				display: block;
				width: 100%;
			    margin: 50px auto;
				height: auto;
				border: solid 1px #ccc;
			} */
			.pg-blogPost .MsoNormalTable span{
				margin: 0!important;
				 color: #222a35!important;
			}
			.pg-blogPost .MsoNormalTable p{
				max-width: inherit!important;
			    color: #222a35!important;
			    font-size: inherit!important;
			    line-height: inherit!important;
			    margin: inherit!important;
			    font-weight: inherit!important;
			}
			.pg-blogPost .MsoTableGridLight span{
				margin: 0!important;
				 color: #222a35!important;
			}
			.pg-blogPost .MsoTableGridLight p{
				max-width: inherit!important;
			    color: #222a35!important;
			    font-size: inherit!important;
			    line-height: inherit!important;
			    margin: inherit!important;
			    font-weight: inherit!important;
			}
			.pg-blogPost table span{
				margin: 0!important;
				 color: #222a35!important;
			}
			.pg-blogPost table p{
				max-width: inherit!important;
			    color: #222a35!important;
			    font-size: inherit!important;
			    line-height: inherit!important;
			    margin: inherit!important;
			    font-weight: inherit!important;
			}
		.pg-blogPost .autor{
			max-width: 942px;
			margin: 45px auto;
		}
		.pg-blogPost .publicacao{
			color: #9B9B9B;	
			font-size: 14px;	
			background: #fff;
			position: relative;
			display:block;
			margin-bottom: 30px;
		}	
			.pg-blogPost .publicacao:before{
				content: '';
				display: block;
				width: 88%;
				height: 1px;
				background: #9B9B9B;
				position: absolute;
				top: 10px;
   		 		right: 0;
			}
			.pg-blogPost .autor figure img{
			
				border-radius: 100%;
				margin: 0 auto;
			}
	
				.pg-blogPost .perfil{
						
				}
					.pg-blogPost .perfil h2{
						color: #3E414F;	
						font-size: 20px;	
						font-weight: 800;	
					}

					.pg-blogPost .perfil span{
						color: #C1947E;	
						font-size: 18px;	
						line-height: 25px;
						position: relative;
						display: inline-block;
						padding-right: 45px;
					}
						.pg-blogPost .perfil span:before{
							content: '';
							display: block;
							background: url(img/CombinedShapeCopy5.png);
							width: 25px;
							height: 13px;
							right: 0;
							background-repeat: no-repeat!important;
							background-size: cover!important;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);

						}
		.pg-blogPost .sessaoBlog{
			margin: 50px 0;
		}
				.pg-blogPost .sessaoBlog h6{
					color: #3E414F;	
					font-size: 30px;	
					font-weight: 800;	
					text-align: center;	
					margin-bottom: 50px;
				}
		.pg-blogPost .areaTitulo{
			position: relative;
			max-width: 597px;
			position: relative;
			top: -65px;
			left: 0px;
		}
			
			.pg-blogPost .sessaoBlog .logo{
				display: block;
				width: 100%;
			}
			.pg-blogPost .sessaoBlog .posts{
				
			}
			.pg-blogPost .sessaoBlog .post{
				text-decoration: none;
				display: block;
				padding: 20px 10px;
			}
				.pg-blogPost .sessaoBlog .post figure{
					display: block;
					width: 100%;
					height: 187px;	
					max-width: 391px;	
					border-radius: 4px;
					background-position: center!important;
					background-size: cover!important;
					margin: 0 auto 44px;
				}
				.pg-blogPost .sessaoBlog .post h2{
					color: #3E414F;	
					font-size: 20px;	
					font-weight: 800;	
					text-align: center;
					max-width: 317.89px;
					line-height: 27px;
					margin: 0 auto 20px;
					min-height: 115px;
				}
				.pg-blogPost .sessaoBlog .post span{
					color: #C1947E;	
					font-size: 14px;	
					line-height: 19px;	
					text-align: center;
					display:block;
					margin-bottom: 20px;
				}
				.pg-blogPost .sessaoBlog .post p{
					color: #3E414F;	
					font-size: 14px;	
					line-height: 19px;	
					text-align: center;
					max-width: 312.59px;
					margin: 0 auto;
					font-weight: 600;
				}

/* PÁGINA DE CONTATO */
	.pg-contato{
		margin-top: 100px!important;
		position: relative;
	}
		.pg-contato .fundo{
			position: absolute;
			width: 100%;
			height: 1009px;
			bottom: 0;
			background: #fff;
		}
			.pg-contato .contato h5{
				max-width: 508px;
				color: #3E414F;
				font-size: 40px;
				font-weight: 800;
				line-height: 55px;
			}
			.pg-contato .contato p{
				color: #3E414F;	
				font-size: 18px;	
				line-height: 25px;
				font-weight: 600;
			}
			.pg-contato .contato .infocontato{
			    margin-top: 180px;
			}
				.pg-contato .contato .infocontato span{
					height: 25px;	
					color: #C1947E;	
					display: block;
					font-size: 18px;
					font-weight: 600;	
				}
				.pg-contato .contato .infocontato a{
					color: #3E414F;	
					font-size: 24px;	
					font-weight: 800;	
					line-height: 33px;
				}
			.pg-contato .contato .form{
				height: 803px;	
				max-width: 508px;	
				border-radius: 4px;	
				padding: 20px;
				box-shadow: 0 2px 30px 0 rgba(0,0,0,0.32);
				background: linear-gradient(135deg, #C1947E 0%, #877065 100%);
			    margin-bottom: 150px;
			}
			
				.pg-contato .contato .form strong{
					color: #FFFFFF;	
					display: block;	
					font-size: 30px;	
					font-weight: 500;	
					line-height: 41px;
					max-width: 391px;
					font-weight: 800;
				    margin: 27px auto 40px;
				}
				.pg-contato .contato .form input[type="text"],input[type="email"],input[type="tel"]{
					height: 68px;	
					max-width: 391px;	
					border: 1px solid #FFFFFF;
					display: block;
					width: 100%;
					background: transparent;
					margin: 0 auto;
					margin-bottom: 30px;
					color: #fff;
					padding: 10px;
					outline: none;
				}

				.pg-contato .contato .form input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
					color: #FFFFFF;	
					font-size: 14px;	

				}

				.pg-contato .contato .form input:-moz-placeholder { /* Firefox 18- */
					color: #FFFFFF;	
					font-size: 14px;
				}

				.pg-contato .contato .form input::-moz-placeholder {  /* Firefox 19+ */
					color: #FFFFFF;	
					font-size: 14px;
				}

				.pg-contato .contato .form input:-ms-input-placeholder { /* IE10+ */ 
					color: #FFFFFF;	
					font-size: 14px;
				}
				.pg-contato .contato .form textarea{
					height: 175px;	
					max-width: 391px;	
					border: 1px solid #FFFFFF;
					background: transparent;
					color: #fff;
					padding: 10px;
					outline: none;
					margin: 0 auto;
					display: block;
					width: 100%;
				}
					.pg-contato .contato .form textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
					color: #FFFFFF;	
					font-size: 14px;	

					}

					.pg-contato .contato .form textarea:-moz-placeholder { /* Firefox 18- */
						color: #FFFFFF;	
						font-size: 14px;
					}

					.pg-contato .contato .form textarea::-moz-placeholder {  /* Firefox 19+ */
						color: #FFFFFF;	
						font-size: 14px;
					}

					.pg-contato .contato .form textarea:-ms-input-placeholder { /* IE10+ */ 
						color: #FFFFFF;	
						font-size: 14px;
					}
					.pg-contato .contato .form .submit{
						height: 25px;
						width: 56px;
						position: relative;
						padding-right: 120px;
						margin-top: 50px;
						float: right;
						margin-right: 40px;
					}
						.pg-contato .contato .form .submit:before{
							content: '';
							display: block;
							background: url(img/setaBranca.png);
							width: 35px;
							height: 19px;
							right: 0;
							background-repeat: no-repeat!important;
							background-size: cover!important;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);

						}
						.pg-contato .contato .form input[type="submit"]{
							background: transparent;
							color: #FFFFFF;
							font-size: 18px;	
							outline: none;
							width: 100%;
							text-align: left;
							display: block;
							position: absolute;
							height: 100%;
							top:0;
							left: 0;
							border: 0;
							font-weight: 300;
						}

/* EXTRAS */
	.page-template-DiagnosticodeCulturadeSeguranca .pg-servico .descricaoLayoutA{
	    padding-bottom: 62px;
	}
	.page-template-planejamentoEstrategicodeSeguranca .pg-servico .descricaoLayoutA .comofazemos{
	    padding-bottom: 70px;

	}
	.page-template-treinamentos .pg-servico .areasServicos {
	    padding-top: 70px;
	}
	.page-template-treinamentos .correcaoX{
	    padding-bottom: 30px;
	}
	.page-template-paginasWorkshops-php .pg-servico .tituloServico{
	    padding-top: 40px;
	}
	.page-template-paginasWorkshops-php .descricaoLayoutA.displayInlineWorkshops{
		padding-bottom: 70px;
	}
	.page-template-paginaspalestra-php .pg-servico .descricaoLayoutA{
		padding-bottom: 70px;
	}
	.page-template-paginasWorkshops-php .descricaoLayoutA .comofazemos{
	  
	    margin: 0;
	}
	.page-template-treinamentos .pg-servico .descricaoLayoutA .comofazemos{
		margin: 0;
	}
	.page-template-treinamentos .comofazemos.comofazemosB{
		padding-bottom: 50px;
	}
	.correcaoPX{

	}
	.containerFull{
		max-width: 1920px;
		margin: 0 auto;
	}
	.background{
		background: #fff;
		z-index: 999;
		position: relative;
	}
	div.wpcf7-response-output{
		margin-top:5em ;
	}
	.correcaoPadding a{
		padding-top: 140px!important;
	}
	.page-template-solucoes .indiomas a{
		color: #fff;
	}
	.page-id-124 .indiomas a{
		color: #fff;
	}
	.page-template-paginasWorkshops-php .indiomas a{
		color: #fff;
	}
	.page-template-paginasWorkshops-php .topo ul li a{
		color: #fff!important;
	}
	.page-template-paginasWorkshops-php .topo .redesSociais a{
		color: #fff!important;
	}
	.page-template-paginasWorkshops-php .topo img{
		-webkit-filter: brightness(0) invert(1);
		filter: brightness(0) invert(1);
	}

	.page-template-palestra .indiomas a{
		color: #fff;
	}
	.page-template-palestra ul li a{
		color: #fff!important;
	}
	.page-template-palestra .topo .redesSociais a{
		color: #fff!important;
	}
	.page-template-palestra .topo img{
		-webkit-filter: brightness(0) invert(1);
		filter: brightness(0) invert(1);
	}
	.page-template-Workshops .topo{

	}
	
/* CORREÇÕES */
	.correcaoLayout .displayInline{
	    max-width: 340px!important;
	}
	.displayInlineWorkshops .displayInline{
		max-width: 243px!important;
		margin: 15px 5px!important;
		display: inline-block!important;
		max-width: 250px!important;
	}
	.displayInlineWorkshops .displayInline h2{
		min-height: 94px;
		color: #3E414F;
		font-size: 21px;
		font-weight: 800;
		line-height: 23px;
		margin-bottom: 10px;
	}
	.page-template-Workshops .pg-servico .descricaoLayoutA .comofazemos a{
		min-height: 325px;
		text-align: center;
	}

/* CONFIGURAÇÕES DE PÁGINA  */
	/* página de soluções  */
	.page-template-solucoes .topo{
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
	.page-template-solucoes .topo .navbar .navbar-header nav ul li a{
	   color: #fff;
	}
	.page-template-solucoes .topo .redesSociais a{
	   color: #fff;
	}
	.page-template-solucoes .topo .redesSociais a:hover{
	   color: #4c435c;
	   background: #fff
	}
	.page-template-solucoes .topo .logo img {
	    -webkit-filter: brightness(0) invert(1);
	    filter: brightness(0) invert(1);
	}
	
	/* página de soluções  */
	.page-id-124 .topo .logo img {
	    -webkit-filter: brightness(0) invert(1);
	    filter: brightness(0) invert(1);
	}
	.page-id-124 .topo{
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
	.page-id-124 .topo .navbar .navbar-header nav ul li a{
	   color: #fff;
	}
	.page-id-124 .topo .redesSociais a{
	   color: #fff;
	}
	.page-id-124 .topo .redesSociais a:hover{
	   color: #4c435c;
	   background: #fff
	}
	/* página de palestras */
	.page-id-127 .topo{
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
	/* WORKSHOPS */
	.page-id-129 .topo{
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
	/* treinamentos */
	.page-id-131 .topo{
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
	/* Ferramenta de Segurança Corporal */
	.page-id-133 .topo{
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
	.page-template-Workshops .pg-servico .descricaoLayoutA .comofazemos span{
		display: none;
	}

/* @MEDIA */
	@media (max-width: 1680px) {
		.pg-inicial .sessaoInfo .imagemIlustrativa{
			max-width: 100%;
		}
		.skewll {
			
			top: -129px;
			
		}
		
	}
	@media(min-width: 1920px){

		.pg-inicial .sessaoInfo .imagemIlustrativa{
		    max-width: 805px;
		}
		.skewll{
			top: -161px;
		}
		.pg-inicial .sessaoDestaque .item{
		    max-width: 380px;
		}
		.pg-inicial .sessaoDestaque .item{
	       	margin: 20px 275px 55px;
		}
		.pg-inicial .sessaoDestaque .areaQuemSomos{
			max-width: 476px;
			margin: 150px auto 0;
		}
	}
	@media(max-width: 1920px){
		.correcaotela .carosselDestaque{
			max-width: 100%;
		}
		.correcaotela .areaCarrossel:before{
			left: 0;
		}
		.correcaotela .imagemIlustrativa{
			max-width: 100%!important;
		}
		.correcaotela.sessaoInfo  article{
		    margin-top: 172px;
		}
		.correcaotela.sessaoInfo  article{
			min-height: 319px;
		}
		.correcaotela .areaQuemSomos{
			max-width: 500px;
			margin: 150px auto 0;
		}
		.correcaotela .areaCarrossel:before{
			max-width: 28%;
		}
		.correcaotela .item{
		    padding: 20px 20px;
		}
	}
	@media(max-width: 1327px){
		.pg-inicial .sessaoBlog .post{
			padding: 0 10px;
		}
		
		.pg-quemSomos .banner img{
			max-width: 358px
		}
		.integrante .container,.pg-contato .container{
			width: 100%;
		}
		.pg-contato .container{
			padding: 0 20px;
		}
	}
	@media(max-width: 1200px){
		.correcaoX{
			width: 90%;
		}
	}
	@media(max-width: 1024px){
		.pg-inicial .sessaoDestaque .areaCarrossel:before{
		    left: -30px;
		}
		.pg-inicial .sessaoDestaque .areaCarrossel:after{
		    left: -30px;
		}
	}
	@media(max-width: 991px){
		.page-template-DiagnosticodeCulturadeSeguranca .container{
		 	width: 100%;
		 	padding: 10px;
		 }
		.hiddenSm,.pg-inicial .sessaoDestaque .areaCarrossel:before{
			display: none;
		}
		.hiddenSm,.pg-inicial .sessaoDestaque .areaCarrossel:after{
			display: none;
		}
		.pg-inicial .sessaoDestaque .item{
			margin:0 auto 40px;
		}
		.pg-inicial .sessaoDepoimentos{
			padding: 10px;
		}
		.pg-servico .descricaoLayoutA .comofazemos{
			padding: 0 20px;
		}
		.pg-quemSomos .banner img{
			max-width: 195px;
		}
		.pg-quemSomos .tituloPg h6{
			font-size: 30px;
		}
		.pg-quemSomos .sessaointegrantes .integrante .perfil{
			padding: 0 10px;
		}
		.pg-blogPost .publicacao:before{
			position: initial;
		}
		.pg-contato .contato h5{
			font-size: 25px;
		}
		.pg-contato .contato .form strong{
			max-width: 100%;
			text-align: center;
		}
		.skewll{
			display: none;
		}
		.pg-inicial .sessaoInfo{
			background: #fff;
		}

	}
	@media(max-width: 767px){
		.pg-inicial .sessaoInfo .imagemIlustrativa{
			max-width: 100%;
		}
		.topo .logo img{
			margin: 0 auto;
		}
		.topo .navbar button{
			display: block;
		}
		.pg-inicial .sessaoDestaque .areaQuemSomos{
			margin: 0;
			text-align: center;
		}
		.pg-inicial .sessaoDestaque .areaQuemSomos p{
			margin: 0 auto;
		}
		.pg-inicial .btnsCarrossel{
			text-align: center;
			margin: 20px 0;
		}
		.pg-inicial .sessaoDestaque .item{
			max-width: 590px;
		}
		.pg-inicial .sessaoInfo article{
			text-align: center;
		}
		.pg .sessaoOndeAtuamos .titulo{
			text-align: center;
			padding: 0 10px;
		}
		.pg .sessaoOndeAtuamos .titulo p{
			margin: 20px auto;
		}
		.pg .sessaoOndeAtuamos .listaPaises ul{
			text-align: center;
		}
		.pg .sessaoOndeAtuamos .paises ul{
			text-align: center;
		}
		.pg-inicial .sessaoDepoimentos .item .depoimentos{
			padding: 40px 10px;
		}
		.pg-inicial .sessaoDepoimentos .item .depoimentos p{
			max-width: 100%;
		}
		.pg .sessaoNewsletter{
			text-align: center;
			padding: 15px 10px 90px;
		}
		.pg .sessaoNewsletter p{
			margin: 10px auto;
		}
		.pg .sessaoNewsletter .form{
			margin: 0 auto;
		}
		.pg-inicial .sessaoBlog .post{
		    margin: 0 0 30px;
		}
		.correcaoX{
			width: 100%;
			padding: 10px;
		}
		.pg-inicial .sessaoBlog{
			height: initial;
		}
		
		.pg-inicial .sessaoBlog h6{
			position: inherit;
			left: inherit;
			transform: inherit;
			top: inherit;	
		    margin: 75px 0 50px;
		}
		.pg-inicial .sessaoBlog .posts{
			position: inherit;
			bottom: inherit;
			background: url(img/symbollogo@3x.png);
			background-position: center!important;
			background-size: cover!important;
		}
		.pg-inicial .sessaoBlog .logo{
			display: none;
		}
		.rodape .idioma,.rodape .mapaSite span,.rodape .mapaSite a{
			text-align: center;
		}
		.rodape .formularioContato{
			max-width: 267px;
			margin: 50px auto 0;
		}
		.rodape .copyright p,.rodape .copyright .col-sm-6{
			text-align: center!important;
		}
		.copyright img{
			display: block;
			margin: 0 auto;
		}
		.topo .navbar .navbar-header nav ul li{
			display: block;
			padding: 10px;
		}
		.topo .navbar .navbar-header nav ul li a{
			text-align: left;
			color: #fff;
		}
		.topo .navbar .navbar-header nav ul{
		    background: #3f4455;
		    padding: 10px 0;
		}
		.topo .navbar .navbar-header nav{
			width:100%;
		}
		.topo{
			padding: 0;
		}
		.topo .navbar .navbar-header nav ul li:hover{
			background: #fff;
		}
			.topo .navbar .navbar-header nav ul li:hover a{
				color:#3E414F;
			}
		.pg-servico  .servico p,.pg-servico  .servico h2,.pg-servicos .sessaoServicos .servico h2,.pg-servicos .sessaoServicos .servico p{
			max-width: 100%;
			text-align: center;
		}
		
		.pg-servico .descricaoLayoutA .comofazemos a{
			margin: 25px 0;
		}
		.pg-servico .descricaoLayoutA .comofazemos{
			padding: 0;
		}
		.pg-quemSomos .sessaointegrantes .integrante img{
			position: inherit;
			top: inherit;
			left: inherit;
			display: block;
		}
		.pg-quemSomos .sessaointegrantes .integrante .row{
			display: initial;
		}
		.pg-quemSomos .banner p,.pg-quemSomos .tituloPg h6{
			line-height: 33px;
			margin-top: 30px;
			padding: 10px;
			font-size: 20px;
    	}
    	.pg-quemSomos .banner img{
			display: none;
		}
		.pg-quemSomos .banner{
			height: inherit;
		}
		.pg-blog .banner .infoPost{
			padding-bottom: 42px;
			padding-top: 36px;
		}
		.pg-blog .banner  figure{
			height: 320px;
		}
		.pg-blog .sessaoPosts{
			padding: 0 10px;
		}
		.pg-blog .banner .infoPost .area{
			padding: 0 10px;
		}
		.pg-blogPost .banner figure{
			height: 320px;
		}
		.pg-blogPost article h2{
			font-size: 25px;
			line-height: 35px;
		}
		.pg-contato .contato .form{
			max-width: 100%;
		}
		.pg-contato .container{
			padding: 0;
		}
		.pg-contato .contato .infocontato span,.pg-contato .contato h5,.pg-contato .contato p,.pg-contato .contato .infocontato a{
			max-width: 100%;
			text-align: center;
			display: block;
		}
		.pg-contato .contato .infocontato{
			margin-top:20px; 
		}
		.pg-contato .contato .form{
			margin-bottom: 0;
			border-radius: 0;
		}
	}
	@media(max-width: 500px){
		.pg-blogPost .sessaoBlog h6,.pg-blog .banner .infoPost h2,.pg-servico .descricaoLayoutB .comofazemos strong,.pg-servico  .servico h2,.pg-servicos .sessaoServicos .servico h2,.pg-inicial .sessaoBlog h6,.pg .sessaoNewsletter h6,.pg-inicial .sessaoDestaque .areaQuemSomos strong,.pg-inicial .sessaoInfo article h5,.pg .listasessaoServicos h6,.pg .sessaoOndeAtuamos .titulo h6,.pg .sessaoOndeAtuamos .paises ul li h2,.pg-inicial .sessaoDepoimentos .item .infos h2{
			font-size: 25px;
			line-height: 35px;
		}
		.pg-inicial .sessaoDepoimentos .btnCarrossel{
			display: none;
		}
		.pg .sessaoOndeAtuamos .paises ul li{
			margin-bottom:40px;
		}
		.pg-inicial .sessaoDestaque .areaCarrossel{
			padding: 10px;
		}
		.pg{
			margin: 0;
		}
		.pg .listasessaoServicos li{
			margin: 20px 0;
		}
		.pg .listasessaoServicos ul{
			padding: 10px;
		}
		.pg-inicial .sessaoDestaque .item{
			height: inherit;
		}
		.pg-servico .descricaoLayoutA .comofazemos span:before{
			display: none;
		}
		.pg-servico .descricaoLayoutA .comofazemos span{
			padding: 0;
			display: block;
			width: 100%;
			max-width: 100%;
		}
		
	}


.listagem-linha li:hover .listagem-item .produto-sobrepor{
	background: transparent!important;
}
.listagem-linha li:hover{
	background: transparent!important;	
}

.page-template-paginasempresa-php{
	background:linear-gradient(135deg, #74688A 0%, #40374E 100%);
}
.page-template-paginasempresa-php .topo .navbar .navbar-header nav ul li a{
	color: #fff;
}
.page-template-paginasempresa-php .topo .logo img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.page-template-paginasempresa-php .indiomas a{
	color: #fff;
}
.page-template-paginasempresa-php .topo .redesSociais a{
	color: #fff;
}
.page-template-paginasempresa-php{
	background:linear-gradient(135deg, #74688A 0%, #40374E 100%);
}
.page-template-paginasempresa-php .topo .navbar .navbar-header nav ul li a{
	color: #fff;
}
.page-template-paginasempresa-php .topo .logo img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.page-template-paginasempresa-php .indiomas a{
	color: #fff;
}
.page-template-paginasempresa-php .topo .redesSociais a{
	color: #fff;
}